default:
  before_script:
    - npm install
  image: node:lts
  cache:
    key:
      files:
        - package.lock.json
    paths:
      - node_modules

stages:
  - test
  - build
  - publish

lint-test-job:
  stage: test
  script:
    - npm run lint

unit-test-job:
  stage: test
  script:
    - npm run test

build-job:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - "dist"

publish-npm:
  stage: publish
  script:
    - npm config set //registry.npmjs.org/:_authToken ${NPM_ACCESS_TOKEN}
    - npm publish --access public
  dependencies:
    - build-job
